<div class="panel panel-primary" style="margin:20px">
    <div class="panel-heading">
        <div>
               <input type="text" style="color:black" name="search" class="input"  ng-model="search"
                placeholder=" Enter Name or Email" />
        </div>
    </div>
    <div class="panel-body">
        <table class="table" id="searchTextResults">
            <thead>
                <tr>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name</th>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email ID</th>
                    <th>Joining Date</th>
                    <th>&nbsp;&nbsp;&nbsp;Designation</th>
                    <th>Location</th>
                    <th colspan="3" style="text-align:center">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="e in regdata  | filter:filterOnLocation">


                    <td>{{e.FirstName}} {{e.MiddleName}} {{e.LastName}}</td>
                    <td>{{e.EmailID}}</td>
                    <td>{{e.JoiningDate| date : 'dd/MM/yyyy'}}</td>
                    <td>{{e.Designation.DesignationName}}</td>
                    <td>{{e.Location.LocationCity}}</td>

                    <td>
              
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-info"  ng-click="ViewEmpRecord(e.ID)"><i class="glyphicon glyphicon-eye-open">
                            </i></button>
                        <button type="button" class="btn btn-default" ng-click="EditEmpRecord(e.ID)"><i class="glyphicon glyphicon-pencil">
                            </i></button>
                        <button type="button" class="btn btn-danger" ng-click="deleteRecord(e)"><i class="glyphicon glyphicon-trash">
                            </i></button>
                    </div>
                </td>

                </tr>

            </tbody>

        </table>
    </div>
</div>